.App {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

@media only screen and (max-width: 375px) {
    .App {
        height: 100vh;
    }

}
@media only screen and (min-width: 376px) {
    .App {
        height: 100vh;
    }

}
@media only screen and (min-width: 600px) {
    .App {
        height: 100%;
    }

}