@import url('https://fonts.googleapis.com/css2?family=Karla:wght@400;700&display=swap');

html {
  --cyan: hsl(179, 62%, 43%);
  --lighter-cyan: hsl(179, 41%, 53%);
  --lightest-cyan: hsl(178, 63%, 77%);
  --bright-yellow: hsl(71, 73%, 54%);
  --light-gray: hsl(204, 43%, 93%);
  --grayish-blue: hsl(218, 22%, 67%);
}

body {
  margin: 0;
  font-family: 'Karla', sans-serif;
  font-size: 16px;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
