.card-subscription-section {
    display: flex;
    flex-direction: column;
    background-color: var(--cyan);
}
.card-subscription-title, .card-subscription-description {
    margin: 0px;
    color: var(--light-gray)
}
.card-subscription-price {
    display: flex;
    align-items: center;
    color: var(--lightest-cyan)
}
.card-subscription-price-amount {
    color: var(--light-gray);
    font-weight: 700;
}
.card-subscription-button {
    border: none;
    background-color: var(--bright-yellow);
    color: var(--light-gray);
    font-family: 'Karla', sans-serif;
    border-radius: 4px;
    box-shadow: 0px 8px 18px 4px rgba(0, 0, 0, 0.137);
    cursor: pointer;
}

@media only screen and (max-width: 375px) {
    .card-subscription-section {
        padding: 30px 20px;
    }
    .card-subscription-title {
        font-size: 20px;
    }
    /* .card-subscription-price {
    } */
    .card-subscription-price-amount {
        font-size: 36px;
        margin-right:12px;
    }
    /* .card-subscription-description {
    } */
    .card-subscription-button {
        margin-top: 30px;
        width: 100%;
        height: 50px;
        font-size: 18px;
    }
}
@media only screen and (min-width: 376px) {
    .card-subscription-section {
        padding: 30px 20px;
    }
    .card-subscription-title {
        font-size: 20px;
    }
    /* .card-subscription-price {
    } */
    .card-subscription-price-amount {
        font-size: 36px;
        margin-right:12px;
    }
    /* .card-subscription-description {
    } */
    .card-subscription-button {
        margin-top: 30px;
        width: 100%;
        height: 50px;
        font-size: 18px;
    }
}
@media only screen and (min-width: 600px) {
    .card-subscription-section {
        padding: 50px 40px;
    }
    .card-subscription-title {
        font-size: 28px;
    }
    .card-subscription-price {
        font-size: 18px;
    }
    .card-subscription-price-amount {
        font-size: 48px;
        margin-right:12px;
    }
    .card-subscription-description {
        font-size: 18px;
    }
    .card-subscription-button {
        margin-top: 40px;
        width: 100%;
        height: 68px;
        font-size: 24px;
    }
}